<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos-vista6.css">
    <title>DataInfo.com</title>
</head>
<body>
    <header id="header">
        <img src="../img/Visual_Studio_Code_1.35_icon.svg.png" alt="logo" id="logo">
        <input type="checkbox" id="menu">
        <label for="menu"><img src="../img/248-2485394_menu-icon-png-red.png" class="menu-icon" alt=""></label>
        <ul class="menu ">
            <li class="item"><a href="../../index.html">Inicio</a></li>
            <li class="item"><a href="./vista4-Sobre nosotros.html">Sobre nosotros</a></li>
            <li class="btn"><a href="./vista5-Contactanos.html">Contactanos</a></li>
        </ul>
    </header>

    <main>
        <div class="container-datos">
            <div class="datos-1">
                <h2>Bibliografia</h2>
                <p>
                    Nosotros para este proyecto hemos conseguido informacion de la siguiente pagina...
                </p>
            </div>
        </div>
        <div class="card-container">
            <div class="card-padre">
                <div class="card">
                    <div class="card-front" style="background-image: url(../img/AwzUxnVf_400x400.png);">
                        <div class="bg"></div>
                    <div class="card-front-a">
                        <h2><strong>MDN Web Docs.</strong></h2>
                    </div>
                </div>
                <div class="card-back">
                    <div class="card-back-a">
                        <h2>MDN Web Docs</h2>
                        <p>
                            Anteriormente Mozilla Developer Network, y antes Mozilla Developer Center, es el sitio web oficial de Mozilla para la documentación de estándares web de los proyectos de Mozilla.
                        </p>
                        <a class="btn-0" href="https://developer.mozilla.org/en-US/">Más información...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-datos">
            <div class="datos-1">
                <p>
                    Esta pagina fue esencial para que consiguieramos los datos necesarios para poder realizar las vistas con la información necesaria.
                </p>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-container">

            <div class="footer-aling">

                <div class="footer-links">

                    <h4>Pagina</h4>

                    <ul>
                        <li><a href="./vista4-Sobre nosotros.html">Sobre nosotros</a></li>
                        <li><a href="./vista5-Contactanos.html">Contactanos</a></li>
                        <li><a href="./vista6-Bibliografia.html">Bibliografia</a></li>
                    </ul>
                    </div>
                    <div class="footer-links">
                        <h4>Siguenos</h4>
                        <div class="social-links"><a href="https://www.facebook.com/profile.php?id=61562908902801&mibextid=ZbWKwL" class="redsocial1"><img src="../img/Facebook_Logo_2023.png" alt="Facebook_Icon"></a><a href="https://wa.me/50586844327?text=Hola%20estoy%20interesado%20en%20sus%20cursos" class="redsocial3"><img src="../img/WhatsApp_icon.png" alt="WhatsApp_icon"></a></div>
                </div>

            </div>

        </div>
    </footer>
    <script src="../js/script1.js"></script>
</body>
</html>